.setting{
  overflow-y: scroll;
  overflow-x: auto;
  .main-box{
    padding:20px;
    position: relative;
    width: 99.8%;
    text-align: center;
    //display: flex;
    .w-box{
      background-color: #fff;
      padding: 20px;
    }
  }
}