.home{
  background-image: url('../../assets/images/bg-default.jpg');
  background-position: center center;
  overflow-y: scroll;
  overflow-x: auto;
  .main-box{
    position: relative;
    width: 99.8%;
    text-align: center;
    display: flex;
    .weather{
      width: 300px;
    }
    .middle-box{
      flex:1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .el-select .el-input {
      width: 130px;
    }
    .el-input {
      width: 800px;
    }
    .input-with-select .el-input-group__prepend {
      background-color: #fff;
    }
  }
}