.home{
  background-image: url('../../assets/images/bg-default.jpg');
  background-position: center center;
  .main-box{
    position: relative;
    width: 100%;
    text-align: center;
    .el-select .el-input {
      width: 130px;
    }
    .el-input {
      width: 800px;
    }
    .input-with-select .el-input-group__prepend {
      background-color: #fff;
    }
  }
}