$SideLength: 120px;
$interVal: 30px;
$transition: 0.1s all ease;
.note{
  width: 720px;
  margin: 50px 5px 50px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  .tab-box{
    width: $SideLength;
    height: $SideLength;
    color: #fff;
    background-color: rgba(132, 147, 177, 0.8);
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration:none;
    margin: $interVal;
    transition: $transition ;
    &.active{
      width: $SideLength + 20px;
      height: $SideLength + 20px;
      margin: $interVal - 10px;
      box-shadow: 0 0 20px 10px #ffffff ;
      transition: 0.5s ease;
      i{
        display: block;
        transition: 0.5s ease;
        font-size:  $SideLength /1.5;
      }

      .word{
        opacity: 0;
        font-size: 0;
        line-height: 0;
        transition: 0.5s ease;
      }
    }
    >div{
      display: block;
      width: 100%;
    }
    i{
      display: block;
      font-size:  $SideLength /3;
      transition: $transition;
    }
    .word{
      font-size: 16px;
      line-height: 32px;
      opacity: 1;
      transition: $transition;
    }
  }
}
